.App {
  text-align: center;
}


.container{
  display:flex;
  flex-direction:column
}
.size{
  margin-top: 20px;
}
.button{
  width:fit-content;
  min-width:200px;
  height:50px;
  align-self:center;
  margin-top:20px;
  border-radius: 16px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.templateContainer{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-Items:center;
}